<!-- <p>manager-choice works!</p> -->

<!-- <div class="d-grid gap-2 col-6 mx-auto">
    <h3>choose your choice</h3><br>
    <button class="btn btn-primary" type="button"  [routerLink]="['\add-staff']">Add Staff</button>
    <button class="btn btn-primary" type="button" [routerLink]="['\add-menu']">Add menu</button>
  </div> -->
  <div class="container">
    <div class="row">
    <div class="col-6">
        <div class="d-grid gap-2 col-6 ">
            <h3>choose your choice</h3>
            <button class="btn btn-primary" type="button"  [routerLink]="['/add-staff/']">Add Staff</button>
            <button class="btn btn-primary" type="button" [routerLink]="['/add-menu']">Add menu</button>
          </div> -
    </div>
</div>
</div>
